---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---
<Layout title="NAME JEFF">
	<main>
		<h1>my name is <span class="text-gradient">jeff</span></h1>
		<p class="instructions">
			Check out some <strong><code>super~cool pages</code></strong> i've made...recently ðŸ˜… that are still live
		</p>
		<ul role="list" class="animate__animated animate__bounce link-card-grid">
			<Card href="https://irb0gie.vercel.app" title="irb0gie ðŸ«£" body="yeah you probably came from there not to long ago ðŸ™ƒ" /> 
			<Card href="https://som-landing.glitch.me/" title="somðŸ«ðŸ landing" body="we may all be different ðŸŸ but in this ðŸ« we swim together" /> 
			<Card href="https://adaptogen.247420.xyz/" title="adaptogenðŸ¦ " body="swagtag's evolution, now on polygon" /> 
			<Card href="https://schwepe.co.za/" title="schwepe: the experience" body="â¤ï¸" />
		</ul>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg,#4F39FA, #DA62C4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
    	padding: 1em;
		max-width: 60ch;
		
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%, 100% { background-position-y: 0%; }
		50% { background-position-y: 80%; }
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4F39FA;
		padding: 1.0rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
